body{
    font-family: 'Trirong', serif;

}
h1{
    font-size: 50px;
    font-weight: bold;
    color: blueviolet;
}
p{
    font-size: 20px;
    font-weight: bold;
     color: pink; 
}

h2{
   font-size: 20px;
    font-weight: bold;
     color: blue; 
}